
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; 
}


.input-search {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filter-label {
  margin-right: 10px;
  text-align: center;
}

.filter-select {
  padding: 5px;
}


.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  color:yellow;
  
  
}

.country-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-image: url("https://s1.best-wallpaper.net/wallpaper/m/1910/Abstract-planet-earth-map-shine_m.jpg");

  
}

.country-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  
}

.link-card{
  color: aqua;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #f4f4f4;
  color: #333;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.pagination-button:focus {
  outline: none;
}

.pagination-button-bold {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  
}
.container > div {
  margin-right: 10px; 
}


.page-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.page-container button {
  margin: 0 5px;
}

.search-container{
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.container-home{
  color: yellow;
  background-color: black;
}

.button-form{
  display:inline;
  border:0;
  padding:0;
  margin:0;
  text-decoration:underline;
  background:none;
  color:yellow;
  font-family: arial, sans-serif;
  font-size: 1em;
  line-height:1em;
}
.button-form:hover{
  text-decoration:none;
  color:aqua;
  cursor:pointer
}