/* Assuming you have a CSS file linked to your React component */
/* styles.css */

/* Container styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading styles */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Center alignment */
}

/* Search input styles */
.input-search {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

/* Filter section styles */
.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filter-label {
  margin-right: 10px;
  text-align: center; /* Center alignment */
}

.filter-select {
  padding: 5px;
}

/* Card styles */
.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.country-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.country-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #f4f4f4;
  color: #333;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.pagination-button:focus {
  outline: none;
}

.pagination-button-bold {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.container > div {
  margin-right: 10px; 
}


.page-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.page-container button {
  margin: 0 5px;
}